@import '../../../styles.scss';

.container {
    width: 250px;
    height: 50vh;
    margin-left: 25px;
    background-color: $black;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px 10px 10px 20px;
    overflow: auto;
    position: relative;
}

.line {
    width: calc(100% - 50px);
    padding: 20px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .next {
        display: flex;
        align-items: center;

        svg {
            fill: $white;
            margin-left: 5px;
        }
    }

    button {
        width: 75px;
        height: 25px;
        border: none;
        background-color: $light-purple;
        border-radius: 5px;
        cursor: pointer;
        outline: none;
        transition: $transition3s;

        &:hover {
            background-color: $purple;
        }
    }
}

.align {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .arrow {
        padding: 0 0 0 25px;

        svg {
            fill: $white;
            cursor: pointer;
            transition: $transition3s;

            &.hide {
                display: none;
            }
        }
    }

    .dropbtn {
        padding: 0 0 0 15px;
        width: 100%;
        cursor: pointer;
        font-weight: bold;
        user-select: none;
    }
}

.dropdown-content {
    width: 175px;
    margin-left: 20px;
    display: none;
    padding: 5px 0 0 50px;

    & label {
        margin-left: 10px;
        color: $white;
        padding: 5px 0;
    }

    &.show {
        display: block;
    }
}

.minim {
    display: none;
}

/* Menos de 1024px */
@media (max-width: 1024px) {
    .container {
        margin: 0 15px;
        width: 200px;
    }
}


/* Menos de 500px */
@media (max-width: 500px) {
    .container {
        position: absolute;
        width: 200px;
        transition: $transition3s;
        z-index: 13;
        height: auto;
        margin: -45px 175px;
    }

    .line {
        width: 90%;
        padding: 10px;
    }

    .next {
        width: 100%;
        justify-content: center;
    }

    .maxim {
        display: none;
    }

    .minim {
        display: block;
        cursor: pointer;
    }

    .collapsed {
        display: none;
    }
}