<div class="flex">
    <section class="error-container">
        <div class="text">
            <h2>404 Error</h2>
            <br />
            <h3>{{'404.sorry' | translate}}</h3>
            <span>{{'404.options' | translate}}</span>
            <ul>
                <li>
                    {{'404.opt1.opt11' | translate}}
                    <a href="">{{'404.opt1.link1' | translate}}</a>
                    {{'404.opt1.opt12' | translate}}
                </li>
                <li>
                    {{'404.opt2.opt21' | translate}}
                    <a href="">{{'404.opt2.link2' | translate}}</a>
                    {{'404.opt2.opt22' | translate}}
                </li>
            </ul>
        </div>
        <img src="../../assets/images/404/404-pict-dark.png" alt="Imagen que asemeja una rotura, donde se ve el 'código' del proyecto." draggable="false"/>
    </section>
</div>