<nav class="structure">
    <div class="logo">
        <a routerLink="/home" routerLinkActive="activebutton">Logo to guapo cuando haya</a>
        <!-- <img src="" alt=""> -->
    </div>

    <!-- Botones de la cabecera -->
    <div class="structure buttons">
        <!-- Botón galería -->
        <a href="" class="head h1" routerLink="/gallery" routerLinkActive="activebutton">
            <img src="../../assets/images/header/image-gallery.png" alt="Logo Gallery" class="icon">
            <span>{{'header.gallery' | translate}}</span>
        </a>
        <!-- Botón cartera -->
        <a href="" class="head h2" routerLink="/wallets" routerLinkActive="activebutton">
            <img src="../../assets/images/header/wallet.png" alt="Logo Wallet" class="icon">
            <span>{{'header.wallet' | translate}}</span>
        </a>
        <!-- Botón idioma -->
        <!-- https://en.wikipedia.org/wiki/List_of_ISO_639-2_codes -->
        <div class="dropdown">
            <a class="head h3 dropdown">
                <img src="../../assets/images/header/translation.png" alt="Logo tranlations" class="icon">
                <span>{{'header.languages' | translate}}</span>
            </a>
            <div class="dropdown-content">
                <div class="opt" (click)="changeLanguage('en')">
                    <span class="long">English</span>
                    <span class="short">Eng</span>
                </div>
                <div class="opt" (click)="changeLanguage('es')">
                    <span class="long">Español</span>
                    <span class="short">Spa</span>
                </div>
            </div>
        </div>
    </div>
    <!-- parte de la derecha - botones o usuario -->
    <div class="right">
        <div *ngIf="user!=null" class="dropdown profile">
            <span>{{user}}</span>
            <div class="dropdown-content">
                <div class="opt lo" (click)="onLogout()">
                    <span>{{'header.logout' | translate}}</span>
                </div>
            </div>
        </div>
        <div *ngIf="user==null" class="structure enter-btn">
            <button class="login-btn" routerLink="/login" routerLinkActive="activebutton">
                {{'header.login' | translate}}
            </button>
            <button class="register-btn" routerLink="/register" routerLinkActive="activebutton">
                {{'header.register' | translate}}
            </button>
        </div>
    </div>
</nav>