<nav class="flex">
    <div>
        <!-- <img src="" alt=""> --> Logo to guapo cuando haya
    </div>

    <!-- Botones de la cabecera -->
    <div class="flex buttons">
        <!-- Botón galería -->
        <a href="" class="head h1">
            <img src="../../assets/images/header/image-gallery.png" alt="Logo Gallery" class="icon">
            <span>{{'header.gallery' | translate}}</span>
        </a>
        <!-- Botón cartera -->
        <a href="" class="head h2">
            <img src="../../assets/images/header/wallet.png" alt="Logo Wallet" class="icon">
            <span>{{'header.wallet' | translate}}</span>
        </a>
        <!-- Botón idioma -->
        <div class="dropdown">
            <a href="#" class="head h3 dropdown">
                <img src="../../assets/images/header/translation.png" alt="Logo tranlations" class="icon">
                <span>{{'header.languages' | translate}}</span>
            </a>
            <div class="dropdown-content">
                <div class="opt" (click)="changeLanguage('en')">
                    <img src="../../assets/images/header/united-kingdom.png" alt="UK flag" class="icon">
                    <span>English</span>    
                </div>
                <div class="opt" (click)="changeLanguage('es')">
                    <img src="../../assets/images/header/spain.png" alt="Spain flag" class="icon">
                    <span>Español</span>
                </div>
            </div>
        </div>
    </div>
    <div>{{user}}</div>
    <div class="flex enter-btn">
        <button class="login-btn" routerLink="/login" routerLinkActive="activebutton">
            {{'header.login' | translate}}
        </button>
        <button class="register-btn" routerLink="/register" routerLinkActive="activebutton">
            {{'header.register' | translate}}
        </button>
    </div>
</nav>