<div class="card-ex {{wallet?.getCoin()}}">
    <div class="card">
        <div [ngSwitch]="wallet?.getCoin()" class="coin">
            <span *ngSwitchCase="'ETH'">
                <img src="../../../assets/images/cripto-icons/eth.svg" width="150" height="150" alt="ETH Icon Image" />
            </span>
            <span *ngSwitchCase="'BTC'">
                <img src="../../../assets/images/cripto-icons/btc.svg" width="150" height="150" alt="BTC Icon Image" />
            </span>
            <span *ngSwitchCase="'USDT'">
                <img src="../../../assets/images/cripto-icons/usdt.svg" width="150" height="150"
                    alt="USDT Icon Image" />
            </span>
            <span *ngSwitchCase="'DOGE'">
                <img src="../../../assets/images/cripto-icons/doge.svg" width="150" height="150"
                    alt="DOGE Icon Image" />
            </span>
        </div>
        <div class="name money">
            <h2 id="name-{{wallet?.getName()}}" class="name">
                {{ wallet?.getName() }}
            </h2>
            <div class="money">
                <h3>{{ wallet?.getBalance() }} {{wallet?.getCoin() | uppercase}}</h3>
            </div>
        </div>
        <div class="address">
            <span id="address-{{wallet?.getName()}}" *ngIf="!showAdd" class="no-show">
                {{ wallet?.getAddress('hide') }}
            </span>
            <span id="address-{{wallet?.getName()}}" *ngIf="showAdd" class="show">
                {{ wallet?.getAddress('show') }}
            </span>
        </div>

        <span (click)="showAddress()" class="eye">
            <i class='bx bx-show' *ngIf="showAdd"></i>
            <i class='bx bxs-show' *ngIf="!showAdd"></i>
        </span>

        <div class="url">
            <a (click)="goToURL()">
                <p>{{wallet?.getUrl()}}</p>
            </a>
        </div>
    </div>
</div>