@import './mixin';
@import './colors';
@import './variable';

$font-btn: 15px;

$short-btn: 125px;
$mid-btn: 300PX;
$long-btn: 500px;

.register-btn {
    @include filled-button($font-btn, $purple, $dark-gray, 10px, 10px, $short-btn);
}

.login-btn {
    @include outlined-button($font-btn, $purple, $white, 10px, 10px, $short-btn);
}

.net-btn {
    $color: $light-gray;
    @include filled-button($font-btn, $gray, $color, 10px, 10px, $mid-btn);

    &:hover {
        background-color: $dark-gray;
    }

    span {
        color: $color;
        font-weight: bolder;
    }

    svg {
        fill: $light-gray;
    }
}

.fly,
.register-btn {
    font-weight: bolder;
    margin: 10px;

    & svg {
        transform-origin: center center;
        transition: transform 0.3s;
        transform: translateY(2.5px);
    }

    & span {
        margin-left: 15px;
        transition: $transition4s;
    }

    &:hover {
        svg {
            transform: translateY(2.5px) translateX(2.75rem) rotate(45deg) scale(1.4);
        }

        .wrapper {
            animation: fly-1 .4s ease-in-out infinite alternate;
        }

        span {
            transform: translateX(10rem);
        }
    }

    &:active {
        transform: scale(0.90);
    }
}

/* Menos de 1024px */
@media (max-width: 1024px) {
    $font-btn: 12px;
    $short-btn: 100px;

    .register-btn {
        @include filled-button($font-btn, $purple, $dark-gray, 10px, 10px, $short-btn);
    }

    .login-btn {
        @include outlined-button($font-btn, $purple, $white, 10px, 10px, $short-btn);
    }
}