$red: #a30b37;

$green: #7B9B31;

$light-purple: #b28ee2;
$purple: #9560db;
$dark-purple: #6639a0;

$black: #14101a;
$dark-gray: #312a39;
$gray: #504a59;
$light-gray: #dcdcdd;
$white: #fdfcff;

$transparent: #0000;