@import '../../../styles.scss';

/* https://uiverse.io/Codewithvinay/afraid-dodo-14 */

/* Rectangulo del fondo */
.box {
    margin: 40px 20px 25px 20px;
    position: relative;
    width: 175px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    z-index: 1;
    cursor: pointer;

    &:before,
    &:after {
        content: ' ';
        position: absolute;
        top: 50;
        left: 50;
        width: 75%;
        height: 85%;
        background: #fff;
        border-radius: 10px;
        transform: skewX(15deg);
        transition: $transition3s;
        background: radial-gradient(100.14% 100.13% at 0.09% -0.13%, $light-purple 0%, $purple 100%);
    }

    &:after {
        filter: blur(7.5px);
    }
}

/* Los cuadrados de arriba y abajo */
.box span {
    position: absolute;
    z-index: 5;
    border-radius: 5px;
    background: rgba($white, 0.1);
    backdrop-filter: blur(5px);
    transition: $transition3s;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(45deg);
    
    p{
        white-space: nowrap;
        color: rgba($white, 0);
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 18px;
        padding: 5px;
        font-weight: bolder;
    }

    &.name {
        top: -17px;
        left: 50;
    }

    &.price {
        bottom: -17px;
        right: 50;
    }
}

/* Qué ocurre a los cuadrados cuando se hace hover al contenedor general */
.box:hover {

    &:before,
    &:after {
        transform: skewX(0deg) scaleY(1.3);
    }

    & span {
        width: 175px;
        height: 40px;
        transform: rotate(0deg);

        & p{
            color: rgba($white, 1);
        }

        &.name {
        top: -20px;
            left: 50;
        }

        &.price {
        bottom: -20px;
            right: 50;
        }
    }
}

/* Contenido, la foto */
.box .content {
    position: relative;
    width: 100px;
    height: 150px;
    padding: 20px 40px;
    background: rgba($white, 0.1);
    backdrop-filter: blur(5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    z-index: 1;
    transform: $transition3s;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    border-radius: 5px;
    margin: 5px;
    width: 170px;
}