@import '../../../styles.scss';

/* https://uiverse.io/Codewithvinay/afraid-dodo-14 */

$full-width: 210px;

/* Rectangulo del fondo */
.box {
    margin: 40px 5px;
    position: relative;
    width: $full-width;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    z-index: 1;
    cursor: pointer;

    &:before,
    &:after {
        content: ' ';
        position: absolute;
        width: 75%;
        height: 85%;
        border-radius: 10px;
        transform: skewX(15deg);
        transition: $transition3s;
        background: radial-gradient(100.14% 100.13% at 0.09% -0.13%, rgba($dark-purple, .75) 0%, rgba($purple, .75) 100%);
    }

    &:after {
        filter: blur(7.5px);
    }
}

/* Los cuadrados de arriba y abajo */
.box span {
    position: absolute;
    z-index: 5;
    border-radius: 5px;
    background: rgba($white, 0.15);
    backdrop-filter: blur(5px);
    transition: $transition3s;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;

    width: $full-width;
    height: 40px;
    transform: rotate(0deg);

    p {
        color: rgba($white, 1);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 18px;
        padding: 5px;
        font-weight: bolder;
    }

    &.name {
        top: -25px;
    }

    &.price {
        bottom: -25px;
    }
}

/* Qué ocurre a los cuadrados cuando se hace hover al contenedor general */
.box:hover {

    &:before,
    &:after {
        transform: skewX(0deg) scaleY(1.3);
    }

    .content img {
        width: 190px;
        height: 190px;
        border-radius: 5px;
    }
}

/* Contenido, la foto */
.box .content {
    position: relative;
    width: $full-width;
    height: 210px;
    background: rgba($white, 0.25);
    backdrop-filter: blur(5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    z-index: 1;
    transform: $transition3s;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
}

img {
    transition: $transition3s;
    border-radius: 10px;
    width: 170px;
    height: 170px;
    object-fit: cover;
}

/* Menos de 1024px */
@media (max-width: 1024px) {
    $height: 130px;

    p {
        font-size: 16px;
    }

    .box {
        height: $height;
        width: $height;
        margin: 70px 20px 40px 15px;

        span {
            width: calc($height + 40px);

            &.name {
                top: -50px;
            }

            &.price {
                bottom: -50px;
            }
        }

        & .content {
            height: calc($height + 40px);
            width: calc($height + 40px);
        }

        &:hover .content img {
            height: calc($height + 20px);
            width: calc($height + 20px);
        }
    }

    img {
        height: $height;
        width: $height;
    }
}

/* Menos de 500px */
@media (max-width: 500px) {}