<article class="box">
    <span class="name">
        <p> Manolo el mejor dogo </p>
    </span>
    <div class="content">
        <img src="https://s3-alpha-sig.figma.com/img/4c31/015a/79ad43bcfc1fb1e2cd1553d511bf1ce8?Expires=1682294400&Signature=dedYm~8zDQsTtrI3mXNo-cmKMFVr2V0-OFDDAxlq9VCQO8AbIzqszLyOUOJvxekcl1LC0vp5P92Ldda-uQmDAB5kaKunMA462~o7B8ehToJDNfe6uwuL5SHH4G2zjIx9viYVe0pjTxVnrdlFuUde2UQKZ7mJP7Ujey7pwDmzUFN4i4AvUFv7VWFoqBFd9KCWpgW6Ok2OWb7xdQpw7KNmnmHTiHMUtR-d70dnz0Ivp-~TRqM3hPoXlrWoAU6LKamT-hPq7T~eDnLAS2rBwl606Cz1n2T7EPd5bLAuKDduvv9xAIafNcf2FeSRgf6pYgP035qAKbJIjN48zXskmzjykA__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4"
            alt="Shiba inu">
    </div>
    <span class="price">
        <p>0.5 eth </p>
    </span>
</article>