$white: #efefef;
$gray: #a4a4a4;
$dark-gray: #19191e;
$black: #0e0f14;

$blue-base: #0b1f37;
$turquoise: #197487;

$purple: #9A4892;
$pink: #C02B7C;
$violet: #3B093C;

$red: #E43840;
$yellow: #FACA68;