@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

$font-letter: 'Poppins', sans-serif; 

$transition4s: all .4s ease-in-out;
$transition3s: all .3s ease-in-out;

$size: 24px;

.icon{
    width: $size;
    height: $size;
    margin-right: 24px;
}

/* Menos de 1024px */
@media (max-width: 1024px) {
    $size: 32px;
    .head .icon{
        width: $size;
        height: $size;
        margin: 0;
    }
}

/* Menos de 768px */
@media (max-width: 768px) {

}

/* Menos de 500px */
@media (max-width: 500px) {

}