@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

$font-letter: 'Poppins', sans-serif; 


$long-btn: 500px;
$short-btn: 125px;

$transition4s: all .4s ease-in-out;
$transition3s: all .3s ease-in-out;

.ico{
    width: 24px;
    height: 24px;
    margin-right: 24px;
}