<main class="flex">

    <div class="container">
        <app-gallery-filter></app-gallery-filter>
        <div class="nft-container">
            <app-nft-card></app-nft-card>
            <app-nft-card></app-nft-card>
            <app-nft-card></app-nft-card>
            <app-nft-card></app-nft-card>
            <app-nft-card></app-nft-card>
            <app-nft-card></app-nft-card>
            <app-nft-card></app-nft-card>
            <app-nft-card></app-nft-card>
            <app-nft-card></app-nft-card>
            <app-nft-card></app-nft-card>
            <app-nft-card></app-nft-card>
            <app-nft-card></app-nft-card>
        </div>
    </div>
</main>