<div class="flex">
    <div class="text-container">
        <h1>{{'landing-page.title' | translate}}</h1>
        <div class="desc1">
            {{'landing-page.description1.first' | translate}}
            <span class="pink">{{'landing-page.description1.tfg' | translate}}</span>
            {{'landing-page.description1.de'| translate}}
            <span class="yellow">{{'landing-page.description1.name' | translate}}</span>
            {{'landing-page.description1.intention' | translate}}
            <span class="turquoise">{{'landing-page.description1.web3' | translate}}</span>
            {{'landing-page.description1.end' | translate}}
        </div>
        <div class="desc2">
            <!-- Registrarse -->
            <span>{{'landing-page.description2' | translate}}</span>
            <button class="action-btn btn1">
                <!-- https://www.flaticon.com/free-icon/refer_1389008?term=sign+in&related_id=1389008 -->
                <img src="../../assets/images/home/SignIn.png" alt="Logo Sign In" class="icon" />
                {{'landing-page.btn1' | translate}}
            </button>
            <!-- Iniciar sesión -->
            <button class="action-btn btn2">
                <!-- https://www.flaticon.com/free-icon/refer_1389008?term=sign+in&related_id=1389008 -->
                <img src="../../assets/images/home/SignIn.png" alt="Logo Sign In" class="icon" />
                {{'landing-page.btn2' | translate}}
            </button>
            <!-- Cuenta de google -->
            <button class="action-btn">
                <img src="../../assets/images/home/google.png" alt="Logo Google" class="icon" />
                {{'landing-page.btn3' | translate}}
            </button>
        </div>
    </div>
    <div class="img-container">
        <!-- Cubo turquesa -->
        <!-- <iframe src='https://my.spline.design/cubeyellow-a71e837a7d946c0183f203f46818c9ca/' frameborder='0' width='100%'
            height='100%'></iframe> -->
        <!-- <iframe src='https://my.spline.design/cubeturquoise-7caa500c00242f0b040e7b623daa8bcc/' frameborder='0' width='100%' height='100%'></iframe> -->
        <!-- <iframe src='https://my.spline.design/cubepink-861f85877062959c8c334b7fa59b1329/' frameborder='0' width='100%' height='100%'></iframe> -->
    </div>
</div>