<nav class="flex">
    <div><!-- <img src="" alt=""> --> Logo to guapo cuando haya</div>
    <div class="flex buttons">
        <a href="" class="head h1">{{'header.gallery'   | translate}}</a>
        <a href="" class="head h2">{{'header.wallet'    | translate}}</a>
        <a href="" class="head h3">{{'header.languages' | translate}}</a>
    </div>
    <div class="flex">
        <button class="login-btn">{{'header.login'       | translate}}</button>
        <button class="register-btn">{{'header.register' | translate}}</button>
    </div>
</nav>