/* You can add global styles to this file, and also import other style files */
@import "./sass/buttons";
@import "./sass/colors";
@import "./sass/keyframes";
@import "./sass/mixin";
@import "./sass/variable";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins';
    color: $white;
}

.flex {
    display: flex;
    overflow: hidden;
    width: 100%;
    height: calc(100vh - 75px); //100vh - 75px de la cabecera
    background: rgb(34,33,19);
    background: radial-gradient( $dark-gray 0%, $black 78%);
}


/* Menos de 1440px */
/* @media (max-width: 1440px) {
    
} */

/* Menos de 1024px */
/* @media (max-width: 1024px) {
} */

/* Menos de 768px */
@media (max-width: 768px) {
    .flex{
        height: calc(100vh - 75px);
    }
}

/* Menos de 500px */
/* @media (max-width: 500px) {
    

} */

/* Menos de 500px */
/* @media (max-width: 350px) {
} */