@import '../../styles.scss';

$font1: 30px;
$font2: 20px;

.container {
    display: grid;
    align-items: baseline;
    justify-items: center;
    width: 100%;
}

.logo {
    fill: $white;
}

.logo-2 {
    fill: $purple;
    transform: $transition4s;
}

.btn2:hover .logo-2 {
    fill: $white;
}

h1 {
    margin-top: 25px;
    font-size: 75px;
    font-weight: normal;
    font-family: 'Lilita One', cursive;
}

.desc1 {
    font-size: $font1;
    text-align: center;
    padding: 0 40px;
    margin: 0 0;
    width: 75%;

    .a-c {
        color: $purple;
    }

    span {
        font-weight: bolder;
    }

}

.desc2 {
    display: grid;
    justify-items: center;
    padding: 0 30px;
    font-size: $font2;
    text-align: center;

    .flex {
        margin-top: 30px;
        align-items: center;
        justify-content: space-around;
        background: rgba($black, 0)
    }

    .btn1 {
        @include filled-button(20px, $purple, $white, 10px, 5px, $mid-btn);
        margin: 25px 0;

        &:hover {
            background-color: $white;
            color: $purple;

            & .icon {
                fill: $purple;
            }
        }
    }

    .btn2 {
        display: none;
        @include outlined-button(20px, $purple, $white, 10px, 5px, $mid-btn);
    }
}

/* Menos de 1024px */
@media (max-width: 1024px) {
    $font1: 24px;

    .desc1 {
        width: 85%;
        font-size: $font1;
    }

    $font2: 20px;

    .desc2 {
        width: 50%;
        font-size: $font2;
    }
}

/* Menos de 768px */
@media (max-width: 768px) {

    .container {
        height: calc(100vh - 200px); //100vh - 100px de la cabecera
        width: 100%;
    }

    h1 {
        text-align: center;
        font-size: 3rem;
        margin-top: 50px;
    }

    .desc1 {
        width: 85%;
        margin-top: 24px;
        font-size: 20px;
    }

    .desc2 {
        width: 80%;
        font-size: 16px;
        margin-top: 24px;

        .btn1,
        .btn2 {
            margin-top: 12px;
            display: block;
        }
    }
}

/* Menos de 500px */
@media (max-width: 500px) {
    h1 {
        margin: 0;
    }
}