@import '../../styles.scss';

$font1: 30px;
$font2: 20px;


.flex {
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: $dark-gray;
}

.text-container {
    display: grid;
    align-items: center;
}

.text-container, .img-container {
    width: 100%;
    height: calc(100vh - 75px); //100vh - 75px de la cabecera
}

.logo{
    fill: $white;
}

h1 {
    font-size: 50px;
    text-align: center;
}

.desc1 {
    font-size: $font1;
    text-align: center;
    padding: 0 40px;

    .a-c{
        color: $purple;
    }

    span {
        font-weight: bolder;
    }
    
}

.desc2 {
    display: grid;
    justify-items: center;
    padding: 0 30px;
    font-size: $font2;
    text-align: center;

    .action-btn {
        @include filled-button(20px, $purple, $white, 10px, 5px, 450px);
        margin-top: 100px;
        font-weight: bolder;
    }

    .btn1 {
        margin-top: 30px;
    }
}

/* Menos de 1024px */
@media (max-width: 1024px) {
    .img-container {
        width: 0;
    }

    $font1: 24px;

    .desc1 {
        font-size: $font1;
    }

    $font2: 20;

    .desc2 {
        font-size: $font2;

        .action-btn{
            margin-top: 50px;
        }

        .btn1{
            margin-top: 10px;
        }
    }
}

/* Menos de 768px */
@media (max-width: 768px) {}

/* Menos de 500px */
@media (max-width: 500px) {}