@import "../../styles.scss";

h2 {
    margin-top: 25px;
    font-size: 50px;
    color: $black;
    text-align: center;
}

.form {
    margin-top: 100px;
    width: 30%;
    height: 70%;
    overflow-y: auto;
    background-color: $white;
    border-radius: 20px;
    box-shadow: 0 5px 10px 10px rgba($black, .75);
    transition: $transition4s;

    &:hover {
        width: 32%;
        height: 77%;
        transform: translateY(-20px);
        box-shadow: 0 20px 15px 15px $black;

        input.input {
            width: 22rem;
        }
    }
}

section {
    
    .desc2 {
        margin-top: 20px;
        color: $black;
    }

    &>.f-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }
}

.input-flex{
    display: flex;
    align-items: center;
    &>.first-l {
        border-radius: 10px 0 0 0;
    }

    &>.last-l {
        border-radius: 0 0 0 10px;
    }
}


input.input {
    padding: 10px;
    font-size: 20px;
    margin: 2px 0;
    background-color: $light-gray;
    border: 0;
    text-align: center;
    width: 20rem;
    transition: $transition4s;
    color: $dark-gray;
    border: 2px solid $light-gray;

    &.first {
        border-radius: 0 10px 0 0;
    }

    &.last {
        border-radius: 0 0 10px 0;
    }

    &:focus, &:hover {
        outline: none;
        border-color: $purple;
        background-color: rgba($light-gray, .8);
    }
}

button{
    margin-top: 20px;
    @include filled-button(15px, $purple, $white, 5px, 10px, 13rem);
}

.logo-lr{
    padding: 11px;
    background-color: rgba($gray, .7);
    fill: $white;
}